.DS_Store
node_modules/*
node_modules/.bin/*
yarn-error.log

# data files
server/data

# scripts
start.sh

# bundled JS file
docs/bundle.js

# certificate keys etc
*totem.live.*
*fullchain.*
*privkey.*
sslcert/*.csr
sslcert/*.key

# Node server localStorage directory
server/local-storage
server/start.sh

# temp stagig site
dist/staging
