{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"_requirePragma": true,
	"singleQuote": true,
	"semi": false,
	"tabWidth": 4,
	"useTabs": true
}
