.chat-container {
    color: black;
    background: white;
    bottom: 0px;
    box-shadow: 3px 8px 8px 8px #80808059;
    font-size: 12px;
    font-weight: 100;
    position: fixed;
    right: 0px;
    top: 61px;
    transition: all 0.35s ease;
    width: 400px;
    z-index: 1;
}
#app > .mobile .chat-container {
    width: 100%;
}
.chat-container.inverted {
    background: #1b1c1d;
    color: white;
}
#app:not(.chat-visible) .chat-container,
#app.chat-visible .chat-container.hiding {
    right: -410px;
}
#app:not(.chat-visible) .mobile .chat-container,
#app.chat-visible .mobile .chat-container.hiding {
    right: -100%;
}
.mobile .chat-container {
    bottom: 54px;
}
.chat-container .chat-contents {
    height: 100%;
    position: relative;
}

/* inbox/contact list */
.chat-container .inbox-list{
    height: 40%;
    overflow-x: auto;
}
.chat-container .inbox-list div.tools {
    display: table;
    width: 100%;
}
.chat-container .inbox-list div.search,
.chat-container .inbox-list div.buttons {
    display: table-cell;
    vertical-align: top;
}
.chat-container .inbox-list div.buttons .button {
    padding-top: 13px;
}
.chat-container .inbox-list div.search .input {
    width: 100%;
}
.chat-container .inbox-list .unread-count {
    font-weight: bold;
    right: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 45px;
    height: 100%;
    padding-top: 15px;
}
.chat-container .inbox-list .unread-count.compact {
    padding-top: 7px;
}
.chat-container .inbox-list .message {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 8px 10px;
    white-space: nowrap;
}

/* inobx */ 
.chat-container .inbox {
    height: 60%;
}
.chat-container .inbox .header-container {
    background: #1b1c1d;
    color: white;
    padding: 5px;
    position: relative;
    text-align: center;
}
.chat-container.inverted .inbox .header-container {
    background: grey;
}
.chat-container .inbox .header-container .online-indicator {
    position: absolute;
    top: 15px;
 }
.chat-container .inbox .header-container .header {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.chat-container .inbox .header-container .header .tools{
    display: inline;
    position: absolute;
    right: 5px;
    top: -6px;
}
.chat-container .inbox .header-container .subheader {
    margin: 0;
}
.chat-container .inbox .member-list-item {
    margin: 0;
}
.chat-container .inbox .member-list-item .user-icon {
    font-size: 25px !important;
    width: 25px !important;
}
.chat-container .inbox .member-list-item .button-action {
    position: absolute;
    top: 10px;
    right: 5px;
}
/* message list */
.chat-container .messages {
    height: calc(100% - 104px);
    padding: 10px 0;
    position: relative;
    overflow-x: auto;
}
.chat-container .messages .message-group-name {
    text-align: center;
    color: grey;
}
.chat-container .messages .message-wrap {
    padding: '5px 0';
    text-align: left;
}
.chat-container .messages .message-wrap.user {
    text-align: right;
}
.chat-container .messages .message-wrap .message {
    border-radius: 10px;
    box-shadow: none;
    margin: 2px 10px;
    max-width: 80%;
    overflow-x: auto;
    padding: 7px 15px;
    width: auto;
}
/* highlights a searched message */
.chat-container .messages .message-wrap.blink .message {
    background: yellow !important;
    color: black !important;
}
.chat-container .messages .message-wrap .message .content {
    text-align: left;
}
.chat-container .messages .message-wrap .message .icon {
    font-size: 18px;
    width: 18px !important;
}

/* resize #main-content accordingly */
#app.chat-visible > :not(.mobile) .pushable > .ui.visible.left.sidebar.very.thin ~ .pusher.main-content {
    max-width: calc(100% - 460px) !important;
}
#app.chat-visible > :not(.mobile) .pushable > .ui.visible.left.sidebar.wide ~ .pusher.main-content {
    max-width: calc(100% - 635px) !important;
}

/* expanded view */
#app.chat-expanded .chat-container .inbox {
    height: 100% !important;
}
#app.chat-expanded .chat-container .inbox-list {
    display: none;
}