/* put module specific custom styles here */
.assets-form .portfolio {
    margin: 0 10px;
    width: 75%
}
body.mobile .assets-form .portfolio {
    width: 100%
}
.assets-form .hide-on-desktop,
body.mobile .assets-form .hide-on-mobile {
    display: none;
}

.assets-form .portfolio-line:only-child .remove-asset,
body:not(.mobile) .assets-form .portfolio-line .action .divider,
.assets-form .portfolio-line:not(:last-child) .add-asset { 
    display: none !important;
}
.assets-form .portfolio-line .action {
    padding: 30px  5px 0 0;
}
body.mobile .assets-form .portfolio-line .action {
    padding: 0 10px 5px;
    text-align: center;
    width: 100%
}
body:not(.mobile) .action .button span {
    display: none;
}
body:not(.mobile) .action .icon {
    margin: 0 !important;
}
body:not(.mobile) .action .button {
    padding: 14px;
}

.assets-form .total-assets {
    font-weight: 400px;
    font-size: 25px;
    padding-left: 10px;
    width: 50%;
}
body.mobile .assets-form .total-form {
    padding: 0 10px 10px;
    width: 50%;
}
body.mobile .assets-form .total-form,
body.mobile .assets-form .total-assets {
    width: 100%;
}