.validator-balances {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  display: flex;
}

.validator-balance {
  margin: 6px;
  padding: 12px;
  width: 150px;
  background: #fcfcfc;
  border-radius: 8px;
}

.validator {
  float: left;
}

.AccountId {
  clear: both;
  font-family: "Courier New", Courier, monospace;
}

.paren {
  font-size: small;
  color: #666;
}

.value {
  font-weight: bold;
}

.ui.basic.label {
  background: none #ffffff !important;
}


/*
 * New styles
 */
 body {
  overflow: hidden;
 }
 #app {
  height: 100%;
  /* width: 100%; */
  overflow: hidden;
  /* background-color: #aa9dd5; */
}
/* Main content width and positioning when sidebar is collapsed (icon-only mode) */
.ui.visible.left.sidebar.very.thin ~ .pusher.main-content {
  -webkit-transform: translate3d(105px, 0, 0);
  transform: translate3d(70px, 0, 0);
  max-width: calc(100% - 70px) !important;
  margin-left: 0 !important;
}
.ui.visible.left.sidebar:not(.thin) ~ .pusher.main-content {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(265px, 0, 0);
  max-width: calc(100% - 265px) !important;
  margin-left: 0 !important;
}
