body {
  overflow: hidden;
}
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #aa9dd5;
}
.white {
  color: white;
}
/* header bar */
#app > .header-bar {
  height: 154px;
  border: none;
}
.header-bar .ui.container.logo {
  width: 265px;
  float: left;
  padding: 15px;
}
.header-bar .ui.container.logo img {
  margin: auto;
  max-height: 124px;
  width: auto;
}
#app .header-bar .content.container {
  background-color: #ddd0f5;
  height: 154px;
  width: calc(100% - 265px);
  float: right;
  padding: 25px 50px;
}
#app .header-bar .content.container h1 {
  font-size: 40px;
}

/* Sidebar */
#app > .ui.pushable {
  margin: 0;
  height: calc(100% - 155px);
}
.ui.sidebar.left.menu.very.thin {
  width: 70px;
  padding-bottom: 40px;
}
.ui.visible.left.sidebar.very.thin ~ .pusher.main-content {
  -webkit-transform: translate3d(105px, 0, 0);
  transform: translate3d(105px, 0, 0);
  max-width: calc(100% - 105px) !important;
  margin-left: 0 !important;
  padding-bottom: 40px;
}
.ui.sidebar.left.menu:not(.thin):not(.very) {
  width: 265px;
}
.ui.visible.left.sidebar:not(.thin) ~ .pusher.main-content {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  max-width: calc(100% - 300px) !important;
  margin-left: 0 !important;
}
.ui.fluid.container.pusher.main-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  scroll-behavior: smooth;
}

.system-status.left-icon .ui.list .item > i {
  float: left !important;
}
.system-status .ui.header {
  color: white;
}
.ui.system-status .ui.list .item i {
  margin-left: 0;
}

.ui.sidebar.left.inverted.menu .system-status,
.ui.sidebar.statusbar-bottom.inverted.menu {
  background-color: purple;
  margin-top: 0;
}

.ui.sidebar.statusbar-bottom .list .item:not(:last-child) .content:before {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.ui.sidebar.statusbar-bottom .list .item.empty {
  display: none;
}
.ui.sidebar.statusbar-bottom .list .item:not(.empty) {
  display: inline-block;
  padding: 0 10px;
}
.ui.sidebar.statusbar-bottom .header {
  color: white;
  padding: 5px 10px;
  margin: 0;
}
.ui.sidebar.statusbar-bottom > .item {
  padding: 0;
  margin: auto;
}

.ui.sidebar.statusbar-bottom > .item .list {
  margin-top: 0;
}
.ui.sidebar.left .sidebar-toggle {
  text-align: right;
}
.ui.sidebar.left a span {
  font-weight: bold;
}

/* sidebar selected item */
.ui.sidebar.left.inverted a.active.item {
  background: white !important;
}
.ui.sidebar.left a.active.item span {
  color: #6435c9;
}
